In [ ]:
{
  "_id": ObjectId("..."),
  "author": "Alice",
  "tags": ["mongodb", "nosql"],
  "views": 150
}

db.posts.insertMany([
  { author: "Alice", tags: ["mongodb", "nosql"], views: 150 },
  { author: "Bob", tags: ["python", "data"], views: 200 },
  { author: "Alice", tags: ["python"], views: 300 },
  { author: "Charlie", tags: ["nosql"], views: 120 },
  { author: "Bob", tags: ["mongodb", "data"], views: 180 }
])

db.posts.aggregate([
  {
    $group: {
      _id: "$author",             // Group by author
      total_views: { $sum: "$views" } // Sum views per author
    }
  },
  {
    $sort: { total_views: -1 }     // Sort by total_views descending
  }
])

[
  { "_id": "Alice", "total_views": 450 },
  { "_id": "Bob", "total_views": 380 },
  { "_id": "Charlie", "total_views": 120 }
]