In [1]:
import pandas as pd

1. Create sample movie ratings dataset

In [2]:
ratings_data = {
    'Movie_Title': ['Inception ', ' avatar', 'Titanic', 'Inception', None],
    'User_ID': [101, 102, 103, 104, 105],
    'Rating': [4.5, None, 5.0, 4.0, 3.5]
}
ratings_df = pd.DataFrame(ratings_data)

2. Create a movie info dataset

In [3]:
movie_info_data = {
    'Movie_Title': ['inception', 'avatar', 'titanic', 'the dark knight'],
    'Genre': ['Sci-Fi', 'Fantasy', 'Romance', 'Action']
}
movie_info_df = pd.DataFrame(movie_info_data)

--- Data Cleaning Steps ---

In [4]:
# Handle missing movie titles (optional)
ratings_df['Movie_Title'] = ratings_df['Movie_Title'].fillna('Unknown')

# Fill missing ratings with average rating
ratings_df['Rating'] = ratings_df['Rating'].fillna(ratings_df['Rating'].mean())

# Standardize movie titles (remove spaces + lowercase)
ratings_df['Movie_Title'] = ratings_df['Movie_Title'].str.lower().str.strip()
movie_info_df['Movie_Title'] = movie_info_df['Movie_Title'].str.lower().str.strip()

# Merge with movie info dataset
cleaned_df = pd.merge(ratings_df, movie_info_df, on='Movie_Title', how='left')

--- Display results ---

In [5]:
print("Cleaned Movie Ratings DataFrame:")
print(cleaned_df)

Cleaned Movie Ratings DataFrame:
  Movie_Title  User_ID  Rating    Genre
0   inception      101    4.50   Sci-Fi
1      avatar      102    4.25  Fantasy
2     titanic      103    5.00  Romance
3   inception      104    4.00   Sci-Fi
4     unknown      105    3.50      NaN