In [1]:
import pandas as pd

# Sample customer dataset with inconsistencies
data = {
    "customer_id": [101, 102, 103, 101, 104, 105],
    "name": ["John Doe", "Jane Smith", "Alice Brown", "john doe", "Bob White", "Alice brown "],
    "address": ["123 Main St", "456 Oak St", "789 Pine St", "123 Main St", "101 Maple Rd", "789 pine st"]
}

df = pd.DataFrame(data)
print("Original Dataset:")
print(df)

Original Dataset:
   customer_id          name       address
0          101      John Doe   123 Main St
1          102    Jane Smith    456 Oak St
2          103   Alice Brown   789 Pine St
3          101      john doe   123 Main St
4          104     Bob White  101 Maple Rd
5          105  Alice brown    789 pine st

Remove Exact Duplicates Based on customer_id

In [2]:
df.drop_duplicates(subset='customer_id', inplace=True)
print("After Removing Exact Duplicates on customer_id:")
print(df)

After Removing Exact Duplicates on customer_id:
   customer_id          name       address
0          101      John Doe   123 Main St
1          102    Jane Smith    456 Oak St
2          103   Alice Brown   789 Pine St
4          104     Bob White  101 Maple Rd
5          105  Alice brown    789 pine st

Standardize Text Columns for Simple Fuzzy Duplicate Handling

In [3]:
# Strip leading/trailing spaces and convert to uppercase
df['name'] = df['name'].str.strip().str.upper()
df['address'] = df['address'].str.strip().str.upper()

print("After Standardizing Name and Address:")
print(df)

After Standardizing Name and Address:
   customer_id         name       address
0          101     JOHN DOE   123 MAIN ST
1          102   JANE SMITH    456 OAK ST
2          103  ALICE BROWN   789 PINE ST
4          104    BOB WHITE  101 MAPLE RD
5          105  ALICE BROWN   789 PINE ST

Identify Fuzzy Duplicates by Name + Address

In [4]:
# Group by standardized name and address
duplicates = df.groupby(['name', 'address']).size().reset_index(name='count')
duplicates = duplicates[duplicates['count'] > 1]

print("Potential Fuzzy Duplicates:")
print(duplicates)

Potential Fuzzy Duplicates:
          name      address  count
0  ALICE BROWN  789 PINE ST      2

Keep First Record of Fuzzy Duplicates

In [5]:
# Keep first occurrence for each standardized combination
df_cleaned = df.groupby(['name', 'address'], as_index=False).first()
print("Dataset After Handling Fuzzy Duplicates:")
print(df_cleaned)

Dataset After Handling Fuzzy Duplicates:
          name       address  customer_id
0  ALICE BROWN   789 PINE ST          103
1    BOB WHITE  101 MAPLE RD          104
2   JANE SMITH    456 OAK ST          102
3     JOHN DOE   123 MAIN ST          101

Final Check

In [6]:
print("Final Dataset:")
print(df_cleaned)
print("Number of duplicates remaining:", df_cleaned.duplicated().sum())

Final Dataset:
          name       address  customer_id
0  ALICE BROWN   789 PINE ST          103
1    BOB WHITE  101 MAPLE RD          104
2   JANE SMITH    456 OAK ST          102
3     JOHN DOE   123 MAIN ST          101
Number of duplicates remaining: 0