In [1]:
import pandas as pd

Sample Data: Customer purchase records

In [2]:
data = {
    'CustomerID': [101, 102, 101, 103, 102, 101, 104, 103],
    'Product': ['Laptop', 'Phone', 'Mouse', 'Phone', 'Laptop', 'Keyboard', 'Mouse', 'Laptop'],
    'Amount': [80000, 30000, 1500, 30000, 85000, 2000, 1500, 85000]
}


Create DataFrame

In [3]:
df = pd.DataFrame(data)
print("Customer Purchases DataFrame:\n", df, "\n")

Customer Purchases DataFrame:
    CustomerID   Product  Amount
0         101    Laptop   80000
1         102     Phone   30000
2         101     Mouse    1500
3         103     Phone   30000
4         102    Laptop   85000
5         101  Keyboard    2000
6         104     Mouse    1500
7         103    Laptop   85000

Total spending for each customer

In [4]:
total_spending = df.groupby('CustomerID')['Amount'].sum()
print("Total Spending per Customer:\n", total_spending, "\n")

Total Spending per Customer:
 CustomerID
101     83500
102    115000
103    115000
104      1500
Name: Amount, dtype: int64

Most popular product (most frequently purchased)

In [5]:
most_popular_product = df['Product'].value_counts().idxmax()
print("Most Popular Product:", most_popular_product)

Most Popular Product: Laptop